<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.original.abroadeasy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- used by JNI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- these permissions are needed by KF5 SDK -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LaunchAnimActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Theme.NoActionBar"></activity>
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" />

        <!-- Add these Mob ShareSdk begin: -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1104646053" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Add these Mob ShareSdk :end -->


        <!-- Add these for KF5 SDK begin: -->
        <activity
            android:name="com.chosen.kf5sdk.FeedBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.FeedBackDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterTypeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterTypeChildActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.HelpCenterTypeDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.chosen.kf5sdk.LookFeedBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.ImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.OrderAttributeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.chosen.kf5sdk.LinkUrlActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <!-- Add these for KF5 SDK :end -->
        <activity
            android:name=".activity.BlogDetailActivity"
            android:label="@string/title_activity_blog_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".activity.AnswerListActivity"
            android:label="@string/title_activity_blog_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
